<ion-header  >
  <ion-toolbar class="new-background-color">
     <ion-title> 
      <ion-icon name="home"></ion-icon>HOME </ion-title>
     <ion-buttons slot="primary">
      <ion-button color="warning" fill="outline" (click)="logoutService.logout()">
        Log Out
        <ion-icon slot="end" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 

    <div class="grid">
      <div class="card card__one">
        <figure class="card__img">
          <img src="https://i.ibb.co/ZS89Gth/Logo.jpg" width="440" height="280" />
        </figure>
      </div>
    <div class="card text-white bg-Secondary  mb-3" style="max-width: 24rem;">
      <div class="card-header" style="color: teal;"> <strong>COMMUNITY PROJECT MODULE</strong></div>
      <div class="card-body">
        <p class="card-text" style="color: teal;">Community-based learning is a form of experiential learning with the aim at the accomplishment of tasks, which meets genuine human needs, as well as the execution of the tasks that serve
           as an educational and learning tool aimed at the acquisition of a number of important life skills by the students</p>
      </div>
    </div>

    <div class="card card__one">
      <figure class="card__img">
        <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/88205490_1108476122818610_5848974484752564224_o.jpg?_nc_cat=109&_nc_sid=e3f864&_nc_ohc=xPrv2XyUkkcAX_g4Aco&_nc_ht=scontent-jnb1-1.xx&oh=b82b3d01a2303f8e645da0d2b7b1809e&oe=5FB04CC1" width="340" height="280" />
      </figure>
      <div class="card__desc" style="color: teal;">
       
        <strong> JCP ACHIEVING STUDENTS EVENT </strong>
      </div>
    </div>
 

    <div class="card text-center bg-light mb-3" style="width: 24rem; color: teal;">
      <div class="card-body">
        <h5 class="card-title"><strong>Awards and prizes</strong></h5>
        <div class="card" style="width: 18rem;">

          <ul class="list-group list-group-flush">
            <li class="list-group-item">  <strong>2010:</strong> The JCP-module was one of the finalists for the MacJannet Prize for Global Citizenship</li>
            <li class="list-group-item"> <strong>2014:</strong> Marketing Advancement & Communication in Education (MACE) Excellence Award in the Category: Integrated campaigns/projects and subcategory: Social responsibility citizenship development</li>
            <li class="list-group-item"> <strong>2015: </strong> University of Pretoria: Community Engagement Award</li>
            <li class="list-group-item">     <strong>2015: </strong>: Group 101 2014 YouTube a finalist for the ASEE Community Engagement Division Film Festival        </li>
            <li class="list-group-item">  <strong>2015: </strong> Group 101 2014 YouTube a finalist for the ASEE Community Engagement Division Film Festival</li>
            <li class="list-group-item">   <strong>2016: </strong> University Education for Transformative Leadership in Africa Mini-Grant</li>
            <li class="list-group-item">      <strong>2016: </strong> University Education for Transformative Leadership in Africa Mini-Grant</li>
            <li class="list-group-item">         <strong>2017: </strong> Shortlisted Global Engineers Deans Council Airbus Diversity Award</li>
          </ul>
          <div class="card-footer">
           
          </div>
        </div>
    
        
      </div>
    </div>

    <div class="card card__two">
      <figure class="card__img">
        <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.0-9/74620988_1016479342018289_614878989953007616_n.jpg?_nc_cat=102&_nc_sid=730e14&_nc_ohc=AtYF8CbJ3mwAX-dOWnw&_nc_ht=scontent-jnb1-1.xx&oh=cd30c0e254c221b7e844251a082e6e18&oe=5FAE22C3" width="340" height="280" />
      </figure>
      <div class="card__desc" style="color: teal;">
        Group 442
        Kelly and her friends revamped the reading corner at Kay Kay Day Car
      </div>
    </div>
  
    <div class="card card__three">
     
      <div class="card__desc">
        <h5 class="card-title" style="color: teal;"><strong>
            Contact us
        </strong></h5>
        <div class="card" style="width: 18rem;">
          <ul class="list-group list-group-flush" style="color: teal;">
            <li class="list-group-item">
              <img src="https://img.icons8.com/plasticine/100/000000/domain.png" width="60px"/> http://www.up.ac.za/jcp
            </li>
            <li class="list-group-item">
              <img src="https://img.icons8.com/plasticine/100/000000/phone-not-being-used.png" width="60px"/> 076 705 7388
            </li>
            <li class="list-group-item">
              <img src="https://img.icons8.com/plasticine/100/000000/email.png" width="60px"/> jcp@up.ac.za
            </li>
     
          </ul>
          <div class="card-footer">
           
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
