<ion-header  >
  <ion-toolbar class="new-background-color">
     <ion-title> Trips </ion-title>
     <ion-buttons slot="primary">
      <ion-button color="warning" fill="outline" (click)="logoutService.logout()">
        Log Out
        <ion-icon slot="end" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: #008c8e;">
    <ion-card-header style="color: gold;">
     <ion-text style="font-size: x-large;">
      <img src="https://img.icons8.com/plasticine/100/000000/map-marker.png" width="30%" height="30%"/>
      Book Trips Here
     </ion-text> 
    
    </ion-card-header>

    <ion-card-content>
  <ion-item-group>

  <div align="center" style="padding-top: 10%">
    <div
      class="checkout"
      style="width: 50%; padding-bottom: 5%"
      *ngIf="this.BookedButton==false"
    >
      <form
        [formGroup]="BookServ.form"
        (ngSubmit)="BookTrip()"
        style="align-items: center">
      
        <div class="checkout__address-form">
          <div class="form-group">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
              color="warning"
              >Group number *
            </ion-label>
          </ion-item-divider>

            <ion-item>
            <ion-input
              type="email"
              color="warning"
              value="{{this.GroupNumber}}"
              disabled
            >
          </ion-input>
        </ion-item>
          </div>

          

          <div class="checkout__address-form">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
            color="warning"
              >Trip location *
            </ion-label>
            </ion-item-divider>

            <ion-item>
            <ion-input
              type="text"
              class="checkout__address-form-input input"
              id="TL"
              placeholder="Trip Location"
              formControlName="Location"
              (keydown.enter)="$event.preventDefault()"
              placeholder="Search Location"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="off"
              type="text"
              #search>
            </ion-input>
          </ion-item>
          </div>

          <div class="checkout__address-form">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
            color="warning"
              >Trip Date*
            </ion-label>
            </ion-item-divider>

            <ion-item>
            <ion-input
              type="date"
              class="checkout__address-form-input input"
              id="TD"
              placeholder="Trip Date"
              formControlName="Date">
            </ion-input>
          </ion-item>

            <div style="width: 60%; padding-left: 10%">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.Date.touched && f.Date.invalid"
              >
                <sup>*</sup>Please provide Date
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.Date.errors?.pattern"
              >
                <sup>*</sup>Please enter correct Date
              </div>
            </div>
          </div>

          <div class="checkout__address-form">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
            color="warning"
              >Trip Start Time*</ion-label>
            </ion-item-divider>

            <ion-item>
            <ion-input
              type="time"
              color="warning"
              placeholder="Trip Time"
              formControlName="StartTime">
            </ion-input>
          </ion-item>

            <div style="width: 60%; padding-left: 10%">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.StartTime.touched && f.StartTime.invalid"
              >
                <sup>*</sup>Please provide Start Time
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.StartTime.errors?.pattern"
              >
                <sup>*</sup> Time is required
              </div>
            </div>
          </div>

          <div class="checkout__address-form">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
            color="warning"
              >Trip End Time*</ion-label>
              </ion-item-divider>

            <ion-item>
            <ion-input
              type="time"
              color="warning"
              placeholder="Trip Time"
              formControlName="EndTime">
            </ion-input>
          </ion-item>

            <div style="width: 60%; padding-left: 10%">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.EndTime.touched && f.EndTime.invalid"
              >
                <sup>*</sup>Please provide End Time
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.EndTime.errors?.pattern"
              >
                <sup>*</sup> Time is required
              </div>
            </div>
          </div>

          <div class="checkout__address-form">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
            color="warning"
              >Project Name*</ion-label>
            </ion-item-divider>

            <ion-item>
            <ion-input
              type="text"
              color="warning"
              placeholder="{{this.ProjectName}}"
              formControlName="ProjectName"
              value="{{this.ProjectName}}"
              disabled>
            </ion-input>
          </ion-item>

            <div style="width: 60%; padding-left: 10%">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.ProjectName.touched && f.ProjectName.invalid"
              >
                <sup>*</sup>Please provide ProjectName
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.ProjectName.errors?.pattern"
              >
                <sup>*</sup> ProjectName is required
              </div>
            </div>
          </div>

          <div class="checkout__address-form">
            <ion-item-divider style="background-color: #008c8e;">
            <ion-label
            color="warning"
              >Description*</ion-label>
            </ion-item-divider>

            <ion-item>
            <ion-textarea
              class="checkout__address-form-input input"
              id="exampleFormControlTextarea1"
              rows="3"
              formControlName="Description">
          </ion-textarea>
        </ion-item>

            <div style="width: 60%; padding-left: 10%">
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.Description.touched && f.Description.invalid"
              >
                <sup>*</sup>Please provide Time
              </div>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="f.Description.errors?.pattern"
              >
                <sup>*</sup> Time is required
              </div>
            </div>
          </div>

          <ion-button
            class="checkout__total-button button button--primary"
            style="background-color: #007b7c"
            *ngIf="ShowButton"
            type="submit"
            color="light"
          >
            BOOK
          </ion-button>

        </div>
      </form>
    </div>
    <div
      class="checkout"
      style="width: 50%; padding-bottom: 5%; color: #007b7c"
      *ngIf="this.BookedButton">
      <h1 class="display-4" style="color:red">Trip already booked A trip check your profile</h1>
      <ion-button
        class="checkout__total-button button button--primary"
        style="background-color: #007b7c"
        routerLink="../../student-project-tripinfo"
      >
        BOOKED TRIP INFO
      </ion-button>
    </div>
  </div>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
</ion-content>
