<ion-header  >
   <ion-toolbar class="new-background-color">
      <ion-title> Scanner </ion-title>
      <ion-buttons slot="primary">
       <ion-button color="warning" fill="outline" (click)="logoutService.logout()">
         Log Out
         <ion-icon slot="end" name="exit-outline"></ion-icon>
       </ion-button>
     </ion-buttons>
   </ion-toolbar>
 </ion-header>
<ion-content>

  <div class="box" style="height: 100%; width: 95%;" hidden>
    <h2>Scan ATM</h2>
    <ion-card class="container vh-100">
      <div class="d-flex flex-column align-items-center">
         <div class="p-1">
            <video #video class="vid" autoplay></video>
         </div>
         <div class="pb-2">
            
         </div>
         <div class="p-1">
            <canvas #canvas class="vid"></canvas>
         </div>
      </div>
   </ion-card>
  </div>
  <div class="box" style="height: 60%; width: 95%;" align="center" class="new-background-color">
   <h2>Scan Tool QR Code</h2>
   <ion-card>


    <zxing-scanner  (scanSuccess)="onCodeResult($event)"></zxing-scanner>
    <section class="results" *ngIf="qrResultString">
      <div>
        <small>Result</small>
        <strong>Successfully captured</strong>
      </div>
      <button mat-icon-button (click)="clearResult()">&times;</button>
    </section>

    
          <button mat-button color="accent"  style="background-color:#007b7c;" (click)="ScanIn(qrResultString)" *ngIf="qrResultString" >
            <strong>SCAN IN TOOL</strong>
          </button>
         
          <button mat-button color="primary" (click)="ScanOut(qrResultString)" *ngIf="qrResultString" >
            <strong>SCAN OUT TOOL</strong>
          </button>
   </ion-card>
   <ion-spinner name="crescent"></ion-spinner>
   <ion-spinner name="crescent"></ion-spinner>
   <ion-spinner name="crescent"></ion-spinner>
   <ion-spinner name="crescent"></ion-spinner>
   <ion-text color="warning">Waiting for code...</ion-text>
</div> 

</ion-content>