
<ion-header  >
  <ion-toolbar class="new-background-color">
     <ion-title>Newsfeed</ion-title>
     <ion-buttons slot="primary">
      <ion-button color="warning" fill="outline" (click)="logoutService.logout()">
        Log Out
        <ion-icon slot="end" name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div *ngFor="let post of Posts">
    <ion-card style="background-color: #008c8e;">
    <ion-card-title style="font-size: x-large;" color="warning">
      <img src="https://img.icons8.com/plasticine/100/000000/news.png" width="15%" height="15%"/>
      Newsfeed Post 
    </ion-card-title>
    
    <ion-card-content>
      <div style="width:170%">
        <img  *ngIf="filetypeChecker(post.fileType) == false" src={{post.Url}} alt="Avatar" style="width:60%">
        <video hide *ngIf="filetypeChecker(post.fileType)" width="60%" height="240" controls>
          <source src={{post.Url}} type="video/mp4">
        </video>
      </div>
   
    </ion-card-content>
 
    <ion-card-header>
      <ion-card-subtitle>  {{post.Date | date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content style="color: gold;">
     
      <div class="alert alert-warning" role="alert">
        {{post.Description}}
      </div>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
