


    <div class="mobile-wrapper" style="width:97%">
        <div class="login-wrapper">

            <div class="brand-logo">
              <img src="https://i.ibb.co/ZS89Gth/Logo.jpg" alt="Avatar" style="width:100px">
            </div>
            <div class="form-wrapper">
                <form  #form="ngForm" (submit)="onSubmit(form.value)" >
                    <div class="input-group">
                        <label for="email"><i class="fas fa-user"></i></label>
                        <input type="email"  name="email" placeholder="Email"  #email="ngModel" ngModel>
                    </div>
                    <div class="input-group">
                        <label for="password"><i class="fas fa-unlock-alt"></i></label>
                        <input type="password"name="password" placeholder="Password"  #password="ngModel" ngModel >
                    </div>
                    <button type="submit">LOGIN</button>
                </form>
                <br/>
                <button  [routerLink]="['../generate-credentials']">GENERATE LOGIN DETAILS</button>
                <div  [routerLink]="['forgot-password']" >forgot password ?</div>
            </div>
           

        </div>


    </div>


