



 
  <ion-content >


    <ion-router-outlet ></ion-router-outlet>


  <ion-tabs >
   <ion-tab-bar slot="bottom" style="height: 70px;" class="new-background-color">
      <ion-segment scrollable value="home">
         <ion-segment-button value="newsfeed" [routerLink]="['/home/newsfeed']" *ngIf="this.isStudent">
           <ion-icon name="home"></ion-icon>
         </ion-segment-button>
         <ion-segment-button value="heart"  [routerLink]="['/home/book-trip']" *ngIf="this.isStudent">
            <ion-icon name="car-sport-outline"></ion-icon>
         </ion-segment-button>
         <ion-segment-button value="pin"  [routerLink]="['/home/profile']" *ngIf="this.isStudent">
           <ion-icon name="person"></ion-icon>
         </ion-segment-button>
         <ion-segment-button value="Scan(in or Out)" [routerLink]="['/home/scanner']" *ngIf="this.isAdmin">
          <ion-icon name="eye-outline"></ion-icon>
         </ion-segment-button>
         <ion-segment-button value="adminFeed" [routerLink]="['/home/admin-feed']" *ngIf="this.isAdmin">
          <ion-icon name="create"></ion-icon>
         </ion-segment-button>

       </ion-segment>
   </ion-tab-bar>
 </ion-tabs>
</ion-content> 