<ion-header  >
  <ion-toolbar  class="new-background-color">
     <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <ion-card style="background-color: #008c8e;">
    <ion-card-header style="color: gold;">
      Student Info
    </ion-card-header>
    <ion-card-content>

      <ion-item-group >
        <ion-item-divider style="background-color: #008c8e;">
          <ion-label> Hours Worked: </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>{{Student.HoursWorked}}</ion-label>
        </ion-item>
        <ion-item-divider  style="background-color: #008c8e;">
          <ion-label>Group Number:</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>{{Student.GroupNo}}</ion-label>
        </ion-item>
        <ion-item-divider  style="background-color: #008c8e;">
          <ion-label> Email Address: </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>{{Student.Email}}</ion-label>
        </ion-item>
      </ion-item-group>

    </ion-card-content>
  </ion-card>

  <ion-card style="background-color: #008c8e;">
  
    <ion-card-header style="color: gold;">
    Trip info
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="Atrip==null">
        <p class="lead">No Trip Booked!</p>
      </div>
    
      <div  *ngIf="Atrip!=null" >
        <ion-item-group >
            <ion-item-divider style="background-color: #008c8e;">
              <ion-label> Trip Date: </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>{{Atrip.Date}}</ion-label>
            </ion-item>
            <ion-item-divider  style="background-color: #008c8e;">
              <ion-label>Trip Location:</ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>{{Atrip.Location}}</ion-label>
            </ion-item>
            <ion-item-divider  style="background-color: #008c8e;">
              <ion-label> Trip Time: </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>{{Atrip.StartTime}} to {{Atrip.EndTime}}</ion-label>
            </ion-item>
            <ion-item-divider  style="background-color: #008c8e;">
              <ion-label>  Project Name: </ion-label>
            </ion-item-divider>
            <ion-item>
              <ion-label>{{Atrip.ProjectName}}</ion-label>
            </ion-item>
            
            <ion-button color="dark"   (click)="open(Atrip.DriverID)">View Assigned Driver</ion-button>
            <ion-button color="light" (click)="openEdit(Atrip.DriverID)">Update</ion-button>
            <ion-button color="danger" (click)="RomoveBookConfirm()">Cancel</ion-button>
        </ion-item-group>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
