


    <div class="mobile-wrapper" style="width:97%">
      <div class="login-wrapper">

          <div class="brand-logo">
            <img src="https://i.ibb.co/ZS89Gth/Logo.jpg" alt="Avatar" style="width:100px">
          </div>
          <div class="form-wrapper">
            <ion-text *ngIf="this.ErrorMessage" color="danger"></ion-text>
              <form  #form="ngForm" (submit)="onSubmit(StudentNo.value)" >
                  <div class="input-group">
                      <label for="email"><i class="fas fa-user"></i></label>
                      <input type="number"  name="email"name="login"  ngModel  #StudentNo="ngModel"  placeholder="UP STUDENT NUMBER">
                  </div>
                  <button type="submit">Generate</button>
              </form>

              <button  [routerLink]="['./login']">Back</button>
              <br/>
          </div>
         

      </div>


  </div>


